<!DOCTYPE html>
<html>
<style>
  body {
  	text-align: center;
  	background-color: beige;

  }
  iframe {
  	border-width: 3px;
  	border-color:; gray;
  	display: block;
  	margin: 0 auto;
  }
</style>
<head>
	<meta charset="UTF-8">
	<title>Work Access</title>
</head>
<body>

<form>
	<label>Which project would you like to view? bg-color:gray  </label><select id="selector">
		<option value="background br test" style="background:#e822fe">OPtion1</option>
		<option>OPtion2</option>
		<% files.forEach(function(file) { %>
			<option><%= file.name %></option>
			})
	</select>
	<input id="html" type="radio" name="html" value="HTML">
	<input id="js" type="radio" name="js" value="JavaScript">
	<input type="button" onSubmit="loadCurrentFile()" value="Change View">
</form>

<br>
<iframe
	id="page"
	src="views/sample.html"
	width="90%" height="500" sandbox="allow-scripts">
	<p><a href="srcsrcsrc">
		For some reason our file could not display but you may be able to find it here.
	</a></p>
</iframe>

<script>
//  Make HTML GET request, with checkbox status, to populate select box.
//	if GETrequest.contains(selector) return fileList.
//	if ChangeView button.submitted return iframe.src = fileList.currentFile
//
// 
//
</script>

<script src="project_viewer.js"></script>

<!--
A viewer for all of the webpages I have made.
	Selector for the file
	Tabs
		html
		css
		console output (always visible?)

-->

</body>
</html>