<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>prototype accumulator</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>Which project would you like to view?</h1>


<form>
	<select id="selector"></select>
<!-- 	<input id="html" type="radio" name="html" value="HTML" text="HTML">
	<input id="js" type="radio" name="js" value="JavaScript" text="HTML"> -->
</form>

<br>
<iframe
	id="page"
	width="100%" height="1000px"
	> <!-- Doing what we were told never to do sandbox="allow-scripts allow-same-origin"
				  google onload="resizeFrame(this)" iframe to dynamically size -->
	<p>
		For some reason our file could not display but you may be able to find it here.
	</p>
</iframe>
<p id="iframeFile">Nothing on display</p>

<script type="text/javascript">
	var htmlRadio = document.getElementById("html");
	var jsRadio = document.getElementById("js")
	var iframe = document.getElementById("page");
	var fileSelector = document.getElementById("selector");

	function populateSelector() {
		var request = new XMLHttpRequest();
		request.open("GET", "projectList/", true);

		request.addEventListener("load", function() {
			if (request.status >= 400) {
				console.log(request.status);
				throw new Error("Failed to load projects list");
			}
			else {
				var fileList = [];
				request.responseText.split(",").forEach(function(file) {
					fileList.push(file.replace(/"|\[|]/g, ""));
				})

				for (var i = 0; i < fileList.length; i++) {
					var option = document.createElement("option");
					option.value = fileList[i];
					option.text = fileList[i].substring(
						fileList[i].lastIndexOf("/") + 1,
						fileList[i].lastIndexOf("."));

					fileSelector.appendChild(option);
				}
			}
		});
		request.addEventListener("error", function() {
			throw new Error("Network error");
		});
		request.send();
	}
	populateSelector();


	function request(options, callback) {
		var req = new XMLHttpRequest();
		var params = encodeURIComponent(options.filename);
		console.log(params);
		req.open(options.method || "GET", options.url + "?" + params, true);

		req.addEventListener("load", function() {
			if (req.status < 400)
				callback(null, req.responseText);
			else
				callback(new Error("Request failed: " + req.statusText));
		});
		req.addEventListener("error", function() {
			callback(new Error("Network error"));
		});
		req.send();
	}

	// Update our iframe to display the currently selected project file. We ask the server
	// for the html representation of our project by passing an encoded project url, throwing errors left // and right, and add a change listener to the file selector.
	function loadCurrentFile() {
		var req = new XMLHttpRequest();
		var encodedFilePath = encodeURIComponent(fileSelector.value);
		req.open("GET", "/projects" + "?" + encodedFilePath, true);

		req.addEventListener("load", function() {
			if (req.status >= 400)
				throw new Error("Mistake loading project file.\n" + req.statusText);
			else {
				iframe.contentWindow.document.open();
				iframe.contentWindow.document.write(req.responseText);
			}
		});
		req.addEventListener("error", function() {
			throw new Error("Network error");
		});
		req.send();
	}
	fileSelector.addEventListener("change", function() {
		loadCurrentFile();
		document.getElementById("iframeFile").textContent = fileSelector.value;
	});

</script>

<!--
A viewer for all of the webpages I have made.
	Selector for the file
	Tabs
		html
		css
		console output (always visible?)

-->

</body>
</html>