<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>prototype accumulator</title>
	<link rel='stylesheet' href='css/style.css'>
</head>
<body>
	<script src='scripts/jquery-2.1.4.js'></script>

	<h1>Which project would you like to view?</h1>


<form>
	<select id='selector'>
		<option selected='selected' disabled><--- Select ---></option>
	</select>
<!-- 	<input id='html' type='radio' name='html' value='HTML' text='HTML'>
	<input id='js' type='radio' name='js' value='JavaScript' text='HTML'> -->
</form>

<br>



<div width='100%'>
  <% include sourceTabs.ejs %>

	<p id='iframeFile'>Nothing on display</p>
</div>


<% include footer.ejs %>

<!--
A viewer for all of the webpages I have made.
	Selector for the file
	Tabs
		html
		css
		console output (always visible?)
-->

<!--  RESIZABLE IFRAME
 <iframe src='' width='100%' id='idIframe' onload='autoResize('idIframe');' ></iframe>     
 function autoResize(id)
 {
     var newheight;
     var newwidth;
     if(document.getElementById)
     {
         newheight=document.getElementById(id).contentWindow.document .body.scrollHeight;
         newwidth=document.getElementById(id).contentWindow.document .body.scrollWidth;
     }
     document.getElementById(id).height= (newheight) + 'px';
     document.getElementById(id).width= (newwidth) + 'px';
 }
 -->
<script type='text/javascript' src='scripts/projectLoader.js'></script>

</body>
</html>