<footer>
	<ul id="footer">
		<li id="toe">
			<a href="https://www.linkedin.com/in/jkrone" target="_blank">Who made this thing?</a>
		</li>
		<li id="middletoe">
			Why did they make it?
		</li>
		<li id="toe">
			<a href="https://github.com/JonKrone/accumulator" target="_blank">What's it made out of?</a>
		</li>

	</ul>
</footer>
<script>
	var why = $("#middletoe");
	// why.addEvenetListener("mouseover", revealReason);

	why.on('mouseover', function() {
		why.text('For fun and learning of course');
	});
	why.on('mouseout', function() {
		why.text('Why did they make it?');
	});

</script>