	body {
  	text-align: center;
  	background-color: #dddfd4;
  	color: #173e43;
	}
	#page {
  	border-width: 2px;
  	border-right-style: none;
  	border-left-style: none;
  	border-color: #173e43;

  	background-color: #3fb0ac;

  	display: block;
  	margin: 0;
  }

  #iframeFile {
  	color: #173e43;
  	opacity: 0.7;
  	font-style: italic;
  	margin: 8px;

  	float: right;
  }

  #selector {
  	border-radius: 4px;
  	height: 37px;
  	font-size: 1.3rem;
  }
  #selector:hover {
  	box-shadow: 0px 0px 20px 0px #173e43;
  }
  option {
  	background-color: #dddfd4;
  }